[submodule "Kickstart.nvim"]
	path = .config/nvim/
	url = https://github.com/GiovanniKarra/kickstart.nvim

[submodule "Pure"]
	path = .zsh/pure/
	url = https://github.com/sindresorhus/pure

[submodule "omz"]
	path = .oh-my-zsh/
	url = https://github.com/ohmyzsh/ohmyzsh
